{% extends './layout.html.j2' %}

{% block title %}About{% endblock title %}

{% block content %}
<h1>About</h1>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi, quod ab fugiat id nemo in necessitatibus ullam nostrum quis voluptates!</p>
{% endblock content %}