{% extends './layout.html.j2' %}

{% block title %}Posts{% endblock title %}

{% block content %}
<h1>Posts</h1>
<form action="{{ url_for('blog.create_post') }}" method="POST">
    <div class="mb-3">
        <label for="inputTitle" class="form-label">Post Title</label>
        <input type="text" class="form-control" id="inputTitle" name="inputTitle">
    </div>
    <div class="mb-3">
        <label for="inputBody" class="form-label">Body</label>
        <input type="text" class="form-control" id="inputBody" name="inputBody">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% for post in posts%}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title"><a href="{{ url_for('blog.post_by_id', id=post.id) }}">{{ post.title }}</a></h5>
            {{ post.body }}
        </div>
        <div class="card-footer">
            This post brought to you by: {{ post.user.first_name }} {{ post.user.last_name }} ({{ post.user.username }})
        </div>
    </div>
{% endfor %}
{% endblock content %}